<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Checkout</title>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <h1>Checkout</h1>
    <div>
      <section class="cart-items">
        <% for(let items of order) { %>
          <ol>
            <li><%= items.name %></li>
            <li>$<%= items.cost / 100%> </li>
            <li><%= items.quantity %></li>
            <li><img src="<%= items.picture_url %>" ></li>
            <button> remove item</button>
          </ol>
        <% } %>
      </section>
    </div>
    <div>
      <p>Estimated wait time: <%= timeToMake %> minutes</p>
      <p>TOTAL: $<%= totalCost %> </p>
    </div>
    <div>
      <form method="POST" action='/orders'>
        <button id="placeOrder" type="submit" class="btn btn-info"> Place Order </button>
      </form>
    </div>

  </body>
</html>
