<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Checkout</title>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <h1>Checkout</h1>
      <section class="cart-items">
        <% for(let items of order) { %>
          <ul class="cart">
            <li><img class="item-img" src="<%= items.picture_url %>" ></li>
            <li class="item-name"><%= items.name %></li>
            <li class="quantity">x<%= items.quantity %></li>
            <li>$<%= ((items.cost * items.quantity) / 100).toFixed(2)%> </li>
            <button class="removeFromCart btn" type="submit" value="<%= items.id %>"> Remove Item</button>
          </ul>
        <% } %>
      </section>
    <section class="footer">
    <div class="total-order">
      <p>Estimated wait time: <%= timeToMake %> minutes</p>
      <p>TOTAL: $<%= totalCost %> </p>
    </div>
    <div>
      <% if (order[0]) { %>
      <form method="POST" action='/orders'>
        <button id="placeOrder" type="submit" class="btn btn-info"> PLACE ORDER </button>
      </form>
      <% } %>
    </div>
    </section>

  </body>
</html>
