<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Menu</title>
    <link rel="stylesheet" href="/styles/menu.css" type="text/css"/>
    <script type="text/javascript" src="/scripts/menu.js"></script>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <h1>MENU</h1>


    <section id="menu-items">
      <% for(let items of data) { %>
        <ul class="item-list">
          <li class="item-image"><img class="image" src="<%= items.picture_url %>" ></li>
          <li class="item-name"><b><%= items.name %></b></li>
          <li class="item-description"><%= items.description %></li>
          <div class="item-footer">
          <li class="item-cost"><b>$<%= items.cost / 100%></b> </li>
          <form>
            <input type="number" class="quantity" min="1" max="10" value="1">
            <button class="addToCart btn" type="submit" value="<%= items.id %>">Add to Cart</button>
            <div class="added-popup">Hey there</div>
          </form>
          </div>
        </ul>
          <% } %>
    </section>
  </body>

</html>
