<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Menu</title>
    <!-- Char Counter JS -->
    <script type="text/javascript" src="/scripts/menu.js"></script>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <h1>MENU</h1>



    <section id="menu-items">
      <% for(let items of data) { %>
        <ol>
          <li><%= items.name %></li>
          <li><%= items.description %></li>
          <li>$<%= items.cost / 100%> </li>
          <li><img src="<%= items.picture_url %>" ></li>
        </ol>
          <button class="addToCart" type="submit" value="<%= items.id %>">Add to Cart</button>
      <% } %>
    </section>
  </body>

</html>
