<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Orders</title>
  </head>

  <header>
    <%- include('partials/_header') %>
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />
  </header>

  <body>
    <div >
      <h1>Current orders</h1>
      <section class="pending-orders">
        <% for (let order of orders) { %>
          <% if (order.status === 'placed') { %>
            <div class="each-item">
            <div class="order-list">
            <div class="item-list"><% for(let item of (Object.values(menuItems[order.id]))) { %>
              <div class="item">
                <p class="item-name">🍔<strong><%- item[0] %></strong></p>
                <p class="quantity"><%=item[1] %></p>
              </div>
            <%}%><br />
          </div>
            <p class="total"><strong>Total:</strong> $<%= ((orderTotals[order.id]) / 100 )%><br/></p>
            </div>
            <div class="order-info">
            <p class="placed-on"><strong>Order Placed on</strong><br /> <%= order.placed_at.toLocaleString('en-US', {timeZone: 'Canada/Eastern'})%></p>
              <span class="timer"><strong>Ready in:</strong><br /> <%= order.maketime %> Mins
            </span>
          </div>
        </div>
          <% } %>
        <% } %>
      </section>
    </div>

    <div>
    <h1>Previous orders</h1>
    <section class="previous-orders">
        <% for(let order of orders) { %>
          <% if (order.status === 'picked up') { %>
            <div class="each-item">
              <div class="order-list">
              <div class="item-list"><% for(let item of (Object.values(menuItems[order.id]))) { %>
                <div class="item">
                <p class="item-name"> &#127860;<strong><%- item[0] %></strong></p>
                <p class="quantity"><%=item[1] %></p>
                </div>
                <%}%><br />
              </div>
              <p class="total"><strong>Total:</strong> $<%= ((orderTotals[order.id]) / 100 )%><br/></p>
              </div>
              <div class="order-info">
              <p class="placed-on"><strong>Order Placed on</strong><br /> <%= order.placed_at.toLocaleString('en-US', {timeZone: 'Canada/Eastern'})%></p>
              <span class="timer"><strong>Completed on:</strong><br /> <%=order.picked_up_at.toLocaleString('en-US', {timeZone: 'Canada/Eastern'})%><br /></span>

            </div>
            </div>
            <% } %>
          <% } %>
    </section>
    </div>
  </body>
</html>
