<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Orders</title>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <div>
      <h1>Current orders</h1>
      <section class="pending-orders">
        pending orders
      </section>
    </div>

    <div>
    <h1>Previous orders</h1>
      <section class="prev-orders">
        <% for(let item of data) { %>
          <ol>
            <li><%= item.placed_at%></li>
            <li><%= item.picked_up_at%></li>
            <li><%= item.name%></li>
            <li><%= item.orders_id%></li>
            <li><%= item.status%></li>


          </ol>
          <% } %>



      </section>
    </div>
  </body>
</html>
