<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Orders</title>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <div>
      <h1>Current orders</h1>
      <section class="pending-orders">
        <% for (let item of data) { %>
          <% if (item.status) { %>
          <ol>
            <li><%= item.id%></li>
            <li>Total: <%= item.cost%></li>
            <li>Order Placed on <%= item.placed_at%></li>

          </ol>
          <% } %>
        <% } %>
      </section>
    </div>

    <div>
    <h1>Previous orders</h1>
      <section class="prev-orders">
        <% for(let item of data) { %>
          <% if (!item.status) { %>
          <ol>
            <li>Click To Expand</li>
            <li>Total: <%= item.cost%></li>
            <li>Order Placed on <%= item.placed_at%></li>
            <li>Completed on <%= item.picked_up_at%></li>


          </ol>
          <% } %>
        <% } %>



      </section>
    </div>
  </body>
</html>
