<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Orders</title>
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <div>
      <h1>Current orders</h1>
      <section class="pending-orders">

        <% for (let order of orders) { %>
          <div>
          <% if (order.status === 'placed') { %>
          <ol>
            <li><%= (Object.values(menuItems[order.id]))%></li>
            <li>Total: $<%= ((orderTotals[order.id]) / 100 )%></li>
            <li>Order Placed on <%= order.placed_at%></li>
            <li>Ready in: countdown?</li>
          </ol>
          <% } %>
        </div>
        <% } %>
      </section>
    </div>

    <div>
    <h1>Previous orders</h1>
      <section class="prev-orders">
        <% for(let order of orders) { %>
          <% if (order.status === 'picked up') { %>
          <ol>
            <li><%= (Object.values(menuItems[order.id]))%></li>
            <li>Total: $<%= ((orderTotals[order.id]) / 100 )%></li>
            <li>Order Placed on <%= order.placed_at%></li>
            <li>Completed on <%= order.picked_up_at%></li>


          </ol>
          <% } %>
        <% } %>



      </section>
    </div>
  </body>
</html>
