<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>Orders</title>
  </head>

  <header>
    <%- include('partials/_header') %>
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />
  </header>

  <body>
    <div >
      <h1>Current orders</h1>
      <section class="pending-orders">
        <% for (let order of orders) { %>

          <% if (order.status === 'placed') { %>
            <div class="each-item">
            <span><%= (Object.values(menuItems[order.id]))%><br />
            <strong>Total:</strong> $<%= ((orderTotals[order.id]) / 100 )%><br/></span>
            <span><strong>Order Placed on</strong> <%= order.placed_at.toLocaleString('en-US', {timeZone: 'Canada/Eastern'})%><br />
            <strong>Ready in:</strong> countdown?<br /></span>
          </div>
          <% } %>
        <% } %>

      </section>
    </div>

    <div>
    <h1>Previous orders</h1>
      <section class="pending-orders">
        <% for(let order of orders) { %>
          <% if (order.status === 'picked up') { %>
            <div class="each-item">
              <p><%= (Object.values(menuItems[order.id]))%><br />
              <strong>Total:</strong> $<%= ((orderTotals[order.id]) / 100 )%><br/></p>
              <p><strong>Order Placed on</strong> <%= order.placed_at.toLocaleString('en-US', {timeZone: 'Canada/Eastern'})%><br />
              <strong>Completed on:</strong> order.picked_up_at.toLocaleString('en-US', {timeZone: 'Canada/Eastern'})<br /></p>

            <% } %>
          </div>
          <% } %>



      </section>
    </div>
  </body>
</html>
